<div id="app" data-channels="<%= @channels.to_json %>" data-channel="<%= @channel.to_json %>" data-messages="<%= @messages.to_json %>">
</div>
<%= javascript_pack_tag "#{controller_path}/#{action_name}" %>